<div class="container p-2 mb-5">
  <div class="row">
    <div class="col-12 text-center">
      {{#if clases}}
      <table class="table table-dark table-striped">
        <tr>
          <th>Id</th>
          <th>Actividad</th>
          <th>Creador</th>
          <th>Instructor</th>
          <th>Dia</th>
          <th>Hora</th>
          <th>Duracion</th>

          <th>Accion</th>

        </tr>
        {{#each clases}}
        <tr>
          <td>{{this.clase_id}}</td>
          <td>{{this.actividad_id}} - {{this.nombre_actividad}} </td>
          <td>{{this.creador_id}} {{this.nombre_creador}} {{this.apellidos_creador}} </td>
          <td>{{this.instructor_id}} {{this.nombre_instructor}} {{this.apellidos_instructor}} </td>
          <td>{{formatearSp this.fecha_hora}} </td>
          <td>{{formatearHoras this.fecha_hora}}</td>
          <td>{{this.duracion}}</td>
          <td>
            <a href="/clases/edit/{{this.clase_id}}" class="text-warning"><i class="fa-solid fa-pen"></i>Edit</a>
            <a href="/clases/delete/{{this.clase_id}}" class="text-warning"><i class="fa-solid fa-trash"></i>Del</a>
            <form action="/asistencias/add/{{this.clase_id}}" method="post"> 
             <a onclick="this.parentNode.submit();" class="text-warning"><i class="fa-solid fa-user-plus"></i>Join </a>
              </form>
        {{!--     <a href="/asistencias/add/{{this.clase_id}}" class="text-warning"></a> --}}
          </td>
        </tr>

        {{/each}}
      </table>

      {{/if}}

    </div>
    <div class="container text-center mb-5">
      <a href="/clases/add"> <button class="btn btn-warning">NUEVA CLASE</button></a>
      <a class="btn btn-warning btn-block" href="javascript:void(0)" onclick="history.back();">Volver</a>
      <a href="/week/list"> <button class="btn btn-warning">GESTIONAR SEMANA</button></a>

    </div>
  </div>
</div>
<h3>pruebas</h3>
<div>
	<div class="container">
		<div class="row">
			{{#each clases}}
			{{#if @first}} <!-- Añadir encabezados de días de la semana -->
			<div class="col-12">
				<h3>{{diaSemana this.fecha}}</h3>
			</div>
			{{else if (isNewDay ../clases @index this.fecha_hora)}}
			<div class="col-12">
				<h3>{{diaSemana this.fecha}}</h3>
			</div>
			{{/if}}
			<div class="col-md-2 mb-1">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{this.nombre_actividad}}</h5>
						<p class="card-text">
              <div>{{this.nombre_actividad}}</div>
						<div>{{this.hora}} {{this.duracion}}min </div>
						<div>{{this.nombre_instructor}}</div>
						</p>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>