<div class="container pb-2 mb-5">
  <div class="row">
    <div class="col-md-12 ">

      {{#if anuncios}}
      {{#each anuncios}}
      <a href="/anuncios/list/{{anuncio_id}}">
        <div class="fichaAnuncio">
          <p>{{anuncio_id}}</p>
          <div>
            <p>{{usuario}}</p>
            <img class="avatar avatar-s" src="/img/profiles/{{pictureURLusuario}}" alt="">
          </div>
          <div>
            <p>{{nombre}} </p>
            <img class="miniatura" src="/img/iconos/{{pictureURLactividad}}" alt="">
          </div>
          <p>{{salario_propuesto}} € </p>
          <div>
            <p>  <i class="fa fa-calendar"></i> {{ formatearSp fecha_hora}} </p>
            <p>{{ formatearHoras fecha_hora}} </p>
            <p> <ins>◷</ins>{{duracion}} min</p>
          </div>
        </div>
      </a>
      {{/each}}
      {{else}}
      <div class="col-md-4-mx-auto">
        <div class="card card-body text-center">
          <tr>No hay anuncios guardados <a href="/anuncios/add"> Crea uno!</a></tr>
        </div>
      </div>
      {{/if}}
  <a class="btn btn-warning btn-block" href="javascript:void(0)" onclick="history.back();">Volver</a>

    </div>
  </div>
    <div class="row">

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

    </div>
</div>


<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>